---
import { Icon } from "astro-icon/components";
import { SITE } from "~/utils/config";
import { getHomePermalink } from "~/utils/permalinks";
import Logo from "~/components/Logo.astro";
import Image from "~/components/common/Image.astro";
import li from "~/assets/images/linkedin.png";
import Button from "~/components/ui/Button.astro";

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const {
  socialLinks = [],
  secondaryLinks = [],
  links = [],
  footNote = "",
  theme = "light",
} = Astro.props;
---

<footer class:list={[{ dark: theme === "dark" }, "not-prose relative"]}>
  <div class="h-[4px] w-full bg-black"></div>

  <div class="threebyone font-serif max-sm:flex max-sm:flex-col">
    <div class="max-sm:mx-auto">
      <a href={getHomePermalink()}>
        <Logo />
      </a>
    </div>
    <div
      class="col-span-2 mx-auto mb-8 flex h-[10%] items-center text-xl font-bold text-black max-sm:flex-col sm:flex-wrap sm:justify-end"
    >
      <a
        href="/"
        class="inline-flex items-center rounded-lg p-8 no-underline hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700"
      >
        Home</a
      >
      <a
        href="/#products"
        class="inline-flex items-center rounded-lg p-8 no-underline hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700"
      >
        Products</a
      >
      <a
        href="/about"
        class="inline-flex items-center rounded-lg p-8 no-underline hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700"
      >
        About Us</a
      >
      <a href="/contact"
        ><Button
          text="CONTACT"
          class="munch-btn flex w-[161px] items-center justify-center bg-[#214260] text-2xl font-bold"
          type="submit"
        /></a
      >
    </div>
    <div class="my-5 inline-flex max-sm:justify-center">
      <a
        target="_blank"
        href="https://www.linkedin.com/company/munch-industries-inc"
      >
        <Image src={li} alt="LinkedIn" width={40} />
      </a>
    </div>
    <span></span>
    <div
      class="flex items-center justify-end text-center text-gray-800 max-sm:mx-auto sm:text-right"
    >
      <div class="flex flex-col">
        Copyright 2024 @ Munch Industries<br /><a
          href="mailto:info@orble-tea.com">info@orble-tea.com</a
        >
      </div>
    </div>
  </div>
</footer>
