---
import { Icon } from "astro-icon/components";
import { SITE } from "~/utils/config";
import { getHomePermalink } from "~/utils/permalinks";
import Logo from "~/components/Logo.astro";
import Image from "~/components/common/Image.astro";
import li from "~/assets/images/linkedin.png";
import Button from "~/components/ui/Button.astro";

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const {
  socialLinks = [],
  secondaryLinks = [],
  links = [],
  footNote = "",
  theme = "light",
} = Astro.props;
---

<footer class:list={[{ dark: theme === "dark" }, "relative not-prose"]}>
  <div class="w-full h-[4px] bg-black"></div>

  <div class="threebyone font-serif max-sm:flex max-sm:flex-col">
    <div class="max-sm:mx-auto">
      <a href={getHomePermalink()}>
        <Logo />
      </a>
    </div>
    <div
      class="col-span-2 flex items-center sm:justify-end h-[10%] text-xl font-bold text-black max-sm:flex-col mx-auto mb-8 sm:flex-wrap"
    >
      <a
        href="/"
        class="no-underline hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg p-8 inline-flex items-center"
      >
        Home</a
      >
      <a
        href="/#products"
        class="no-underline hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg p-8 inline-flex items-center"
      >
        Products</a
      >
      <a
        href="/about"
        class="no-underline hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg p-8 inline-flex items-center"
      >
        About Us</a
      >
      <a href="mailto:info@orble-tea.com"
        ><Button
          text="CONTACT"
          class="munch-btn w-[161px] flex justify-center items-center text-2xl font-bold bg-[#214260]"
          type="submit"
        /></a
      >
    </div>
    <div class="inline-flex max-sm:justify-center my-5">
      <a
        target="_blank"
        href="https://www.linkedin.com/company/munch-industries-inc"
      >
        <Image src={li} alt="LinkedIn" width={40} />
      </a>
    </div>
    <span></span>
    <div
      class="text-gray-800 flex justify-end items-center max-sm:mx-auto text-center sm:text-right"
    >
      <div class="flex flex-col">
        Copyright 2024 @ Munch Industries<br /><a
          href="mailto:info@orble-tea.com">info@orble-tea.com</a
        >
      </div>
    </div>
  </div>
</footer>
